* {
  margin: 0;
  padding: 0;
}

.scrollBox {
  width: 100%;
  height: 100vh;
  scroll-snap-type: y mandatory; /* スクロールスナップ */
  overflow-y: auto; /* 必須 */
}

.section {
  width: 100%;
  height: 100vh;
  scroll-snap-align: start;
}

.section01 {
  background: lightblue;
}

.section02 {
  background: mediumaquamarine;
}

.section03 {
  background: palegoldenrod;
}

.section04 {
  background: pink;
}

.section05 {
  background: silver;
}
